{% extends 'includes/base.html' %}
{% block tittle %}
    BorrarEmpleado
{% endblock %}
{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="grid-x">Elimniar Usuario</h1>
        </div>
        <div>
            <form method="post">{% csrf_token %}
                <div class="callout">
                    <h5>Desea Eliminar este empleado.</h5>
                    <p>{{ empleados.first_name }}</p>
                </div>
                <button type="submit" class="alert button">Borrar</button>
            </form>
        </div>
    </div>
{% endblock %}
