<header>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Empleados</li>
                <li>
                    <a href="{% url 'empleado_app:empleados_all' %}">Listar</a>
                </li>
                <li><a href="{% url 'departamento_app:departamento_list' %}">Departamentos</a></li>
                <li><a href="/admin">Administrar</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><input type="search" placeholder="Buscar"></li>
                <li>
                    <a type="button" href="{% url 'empleado_app:create' %}" class="button">Nuevo Empleado</a>
                </li>
            </ul>
        </div>
    </div>
</header>


